@font-face {
  font-family: Gilroy-Bold;
  src: url("/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: Gilroy-Medium;
  src: url("/fonts/Gilroy-Medium.ttf");
}

.header {
  /* width: 943px; */
  margin: 0 auto;
}
.menu-burger__header {
  display: none;
}
.menu__list {
  font-family: "Gilroy-Bold";
  font-size: 18px;
  list-style-type: none;
  font-weight: lighter;
  display: flex;
  padding: 0;
}

.menu__list li {
  margin-top: 33px;
  margin-right: 156px;
}

.menu__list a {
  text-decoration: none;
  color: #828282;
  white-space: nowrap;
}

.menu__list a:hover {
  color: #070707;
  transition: 0.5s;
}
.menu__list li:hover {
  transform: scale(1.2);
  transition: 0.5s;
}


/* ------------ */
.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
  height: 2px;
  width: 100%;
  position: absolute;
  background: black;
  margin: 0 auto;
}
.menu-burger__header span{
  top: 15px;
}
.menu-burger__header:after, .menu-burger__header:before{
  content: '';
}
.menu-burger__header:after{
  bottom: -8px;
}
.menu-burger__header:before{
  top: 9px;
}
/* крестик анимация */
.menu-burger__header.open-menu span {
  opacity:0; 
  transition: 0.5s; 
  z-index:200;
}
.menu-burger__header.open-menu:before {
  transform: rotate(41deg);
  top: 13px;
  transition: 0.4s;
}
.menu-burger__header.open-menu:after {
  transform: rotate(-41deg);
  bottom: 0px;
  transition: 0.4s;
}

.menu.open-menu {
  left: 0;
  display: block;
}
/* ------------ */



.menu__hr {
  border: 1px solid #828282;
  margin-top: 31px;
}

.profile__name {
  font-family: "Gilroy-Bold";
  font-size: 47px;
  color: #070707;
  font-weight: lighter;
  display: inline-block;
}

.profile__about {
  font-family: "Gilroy-Medium";
  display: inline-block;
  font-size: 18px;
  width: 155px;
  margin-left: 297px;
}

.profile__lang {
  font-family: "Gilroy-Bold";
  display: inline-block;
  font-size: 16px;
  color: #828282;
  transform: rotate(-90deg);
  margin-top: 85px;
  float: right;
}
.profile__lang span {
  color: black;
}

.aboutMe {
  margin-top: 100px;
  background-color: #f6f6f6;
  height: 506px;
}

.container {
  width: 943px;
  margin: 0 auto;
}

.aboutMe__heading {
  padding-top: 120px;
  text-align: center;
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
}

.aboutMe__description {
  text-align: center;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  font-weight: lighter;
  line-height: 22px;
  width: 485px;
  height: 218px;
  margin-left: 240px;
}

.skills {
  height: 610px;
  text-align: center;
}

.skills__heading {
  padding-top: 91px;
  font-family: "Gilroy-Bold";
  font-size: 34px;
}

.skills__text {
  margin-top: 69px;
  font-family: "Gilroy-Medium";
  font-size: 18px;
}

.skills__list {
  list-style-type: none;
  display: flex;
  margin-left: 10px;
}

.skills__list li {
  color: #828282;
  margin-right: 90px;
  margin-top: 83px;
}

.skills__rating {
  color: rgb(0, 0, 0);
  font-size: 24px;
  letter-spacing: 9px;
}

.skills__rating span {
  opacity: 0.1;
}

.portfolio {
  height: 2253px;
  background-color: #f6f6f6;
  text-align: center;
}

.portfolio__heading {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  padding-top: 112px;
  padding-bottom: 47px;
}
.portfolio__list {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  list-style-type: none;
}
.portfolio__list li {
  padding-bottom: 99px;
}
.portfolio__list li img {
  padding-bottom: 45px;
}
.portfolio__list li a {
  text-decoration: none;
  font-size: 18px;
  color: #070707;
  text-decoration-line: underline;
}

.contacts {
  height: 622px;

  text-align: center;
}

.contacts__heading {
  padding-top: 114px;
  font-family: "Gilroy-Bold";
  font-size: 34px;
}

.contacts__text {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  padding-top: 20px;
}

.contacts__button {
  width: 180px;
  height: 42px;
  border: 2px solid #070707;
  border-radius: 25px;
  background-color: black;
  text-align: center;
  margin-top: 40px;
  margin-left: 381px;
}

.contacts__button a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  color: white;
}

.contacts__icon {
  list-style-type: none;
  display: flex;
  margin-left: 200px;
  padding-top: 86px;
}

.contacts__icon li {
  padding-left: 61px;
}

.contacts__subscriptionText {
  padding-top: 40px;
  font-family: "Gilroy-Medium";
  font-size: 14px;
  color: #828282;
}

/* ------------------------ */
@media(max-width: 767px){
  .menu-burger__header {
      position: relative; /* задаем относительное позиционирование */
      width: 20px; /* определяем размеры блока */
      height: 15px;
      display: block;
     float: right;
     margin-top: 38px;
  }
  .menu__hr{
    display: none;
  }
  .menu{
      display: none;
      position: absolute;
      float: right;
   
   
      
      margin-left: 100%;
      /* left: 100%; */
    transition: all 0.4s ease;
  }
  .menu__list{
    display: block;
    float:right;
    
  }
  .profile__name{
    display: block;
    margin-left: 20px;
  }
}